<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		@await Html.PartialAsync("HeaderPartial")

		<!-- Nav -->
		@await Html.PartialAsync("NavbarPartial")

		<!-- RenderBody -->
		<section id="main">
			<div class="row gtr-200">
				<div class="col-12">
					<section class="box highlight">
						@RenderBody()
					</section>
				</div>
			</div>
		</section>
		
		<!-- Footer -->
@* 		@await Html.PartialAsync("FooterPartial") *@

	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("ScriptsPartial")

</body>
</html>