<nav id="nav">
	<ul>
		<li class="current"><a href="index.html">Главная</a></li>
		<li>
			<a href="#">Твоя профессия</a>
			<ul>
				<li><a href="#">Облако интересов</a></li>
				<li><a href="#">Случайная профессия</a></li>
				<li><a href="#">Профессии по направлению</a></li>
				<li><a href="#">Задать параметры</a></li>
			</ul>
		</li>
		<li><a href="#">Контакты</a></li>
	</ul>
</nav>