@using YourProfessionWebApp.Domain.Entities;
@model List<Interest>

<h2 class="major"><span>что больше нравится ?</span></h2>
    <ul class="contact">
        <li>
            <form method="post" asp-action="Add">
                <input type="hidden" name="id" value=@Model.ElementAt(0).Id />
                <button type="submit">@Model.ElementAt(0).Title</button>
            </form>
        </li>
        <li>
            <form method="post" asp-action="Add">
                <input type="hidden" name="id" value=@Model.ElementAt(1).Id />
                <button type="submit">@Model.ElementAt(1).Title</button>
            </form>
        </li>
        <li>
            <form method="post" asp-action="Add">
                <input type="hidden" name="id" value=@Model.ElementAt(2).Id />
                <button type="submit">@Model.ElementAt(2).Title</button>
            </form>
        </li>
        <li>
            <form method="post" asp-action="Add">
                <input type="hidden" value="Hunt" name="value" />
                <button type="submit" id="vip">ничего</button>
            </form>
        </li>
        
@*         <li><a class="icon" href="/Cloud/Push?x=auto">Авто</a></li> *@
    </ul>