<h2 class="major"><span>что больше нравится ?</span></h2>
    <ul class="contact">
        <li>
            <form method="post" >
                <input type="hidden" value="Fish" name="value"/>
                <button type="submit">Рыбалка</button>
            </form>
        </li>
        <li>
            <form method="post">
                <input type="hidden" value="Auto" name="value" />
                <button type="submit">Авто</button>
            </form>
        </li>
        <li>
            <form method="post">
                <input type="hidden" value="Hunt" name="value" />
                <button type="submit">Охота</button>
            </form>
        </li>

        
@*         <li><a class="icon" href="/Cloud/Push?x=auto">Авто</a></li> *@
    </ul>