<h2 class="major"><span>что больше нравится ?</span></h2>
<ul class="contact">
	<li><a class="icon" href="#">Рыбалка</a></li>
	<li><a class="icon" href="#">Авто</a></li>
	<li><a class="icon" href="#">Плотничество</a></li>
	<li><a class="icon" href="#">Охота</a></li>
	<li><a class="icon" href="#">Строительство</a></li>
</ul>