@using YourProfessionWebApp.Domain.Entities;
@model ResultProViewModel
@{
    ViewData["Title"] = "Result";
}

<h1>ТВОЯ ПРОФЕССИЯ:</h1>

@foreach (var i in Model.RelevantProfessions) {
    if (i.Value == Model.MaxOverlap) {
        <p>@i.Key.Title</p>
    }
}

@if (Model.RelevantProfessions.Count == 0) {
    <p>информации недостаточно, начните заново</p>
}

@if (ViewBag.Remains >= 3) {
    <a href="/Cloud/Index?flag=1">Продолжить выбор</a>
} else {
    <a href="/Cloud/Refresh">Попробовать заново</a>
}