@using YourProWebApp.Domain.Entities;
@using YourProWebApp.Service;
@model IQueryable<ProfessionItem>;

<!-- Banner -->
@await Html.PartialAsync("BannerPartial")

<h2 class="display-4">Welcome</h2>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<p>@Config.CompanyPhone</p>
<p>@Model.Single(p => p.Title == "Руководитель строительного проекта").Id</p>